extends layout

block content
    h3= title
    form(method='POST')
        div.form-group
            div.row
                div.col-lg-6
                    label(for='url') URL:
                    select.form-control( name='url', id='url')
                        option google.com
                    label(for='path') Path:
                    select.form-control(name='path', id='path')
                        option /
            div.row
                div.col-lg-2
                    label(for='concurrency') Concurrency:
                    select.form-control(name='concurrency', id='concurrency')
                        each val in [3, 100, 1000, 10000, 100000]
                            option=val
                    label(for='port') Port:
                    select.form-control(name='port', id='port')
                        each val in [443, 80]
                            option=val
            br
            div.row
                div.col-xs-5
                    button(class='btn btn-info', type='submit' id='loader-btn') Start
                div.col-xs-1
                    a(href='#', onclick='reload()') #[strong Reset]
        div.row
            div.col-lg-10
            h3 Dynamic content
            div(id='container')

        if error
            pre !{error}
        else
    button(id='mybtn' class='btn btn-warning') GO
    - var test = data
    if Object.keys(test).length === 0
        - console.log('yes')
        - test = 0
    else
        - test = data
        - console.log(test)
    pre.test(id='output') !{[data]}
    canvas(id='chart')
    script.
        var socket = io('//localhost:3000');
        socket.on('socketToMe', function (data) {
            console.log(data);
        });
        $(document).ready(function () {
            var url, path, concurrency, port
            $('#mybtn').click(function () {
                url = $('#url').val();
                path = $('#path').val();
                concurrency = $('#concurrency').val();
                port = $('#port').val();
                $.post('', {url: url, path: path, concurrency: concurrency, port: port}, function (data) {

                })
            })
            const ctx = document.getElementById("chart");
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                    datasets: [{
                        label: '# of Requests',
                        data: [#{test}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
